{
  "openapi": "3.1.0",
  "info": {
    "title": "BringAI Digital Client API",
    "description": "API de autenticação da plataforma BringAI para usuários do tipo cliente digital. Essa documentação tem como objetivo facilitar a integração entre front-end e back-end.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.bringai.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "summary": "Login do usuário",
        "description": "Endpoint para autenticação de usuários. Retorna um token Bearer e as informações do usuário autenticado.",
        "requestBody": {
          "description": "Credenciais do usuário (email e senha)",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "patrick@erdeenterprise.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "SenhaSegura123!"
                  }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login bem-sucedido. Retorna o token e dados do usuário.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Token de acesso verificado com sucesso."
                    },
                    "access_token": {
                      "type": "string",
                      "description": "Token JWT de acesso"
                    },
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "email": {
                          "type": "string"
                        },
                        "role": {
                          "type": "string",
                          "example": "authenticated"
                        },
                        "email_verified": {
                          "type": "boolean"
                        },
                        "auth_time": {
                          "type": "integer"
                        },
                        "expires_at": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Credenciais inválidas (Unauthorized)"
          },
          "403": {
            "description": "Token expirado ou acesso proibido (Forbidden)"
          },
          "500": {
            "description": "Erro interno no servidor"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}